.bg-light {
    color: #58666e;
    background-color: #edf1f2;
}


.fc {
    direction: ltr;
    text-align: left;
}

.b-l {
    border-left: 1px solid #dee5e7;
}
.b-2x {
    border-width: 2px;
}

.b-3x {
    border-width: 3px;
}


.m-b-sm {
    margin-bottom: 10px;
}

.m-b-xxs {
    margin-bottom: 1px;
}

.m-b-xs {
    margin-bottom: 5px;
}

.fc-overlay .pull-down {
    bottom: 11px;
}

.fc-overlay .pull-up {
    top: 26px;
}

.b-info {
    border-color: #23b7e5;
}
.b-primary {
    border-color: #7266ba;
}
.b-danger {
    border-color: #f05050;
}
.b-warning {
    border-color: #fad733;
}
.b-success {
    border-color: #27c24c;
}

.wrapper-md {
    padding: 20px;
}

.m-l-xs {
    margin-left: 5px;
}

.fc-overlay.left {
    left: 100%;
    top: -15px;
    padding: 0 10px;
    margin: 0;
}

.arrow {
    z-index: 10;
    border-width: 9px;
}

.arrow.left:after {
    bottom: -8px;
    left: -1px;
    border-right-color: #ffffff;
    border-left-width: 0;
}

.arrow:after {
    border-width: 8px;
    content: "";
}

.arrow, .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.arrow, .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.bg-white {
    color: #58666e;
    background-color: #fff;
}
.fc-content-skeleton tr{
    border: 0px;

}
.fc-event {
    position: relative;
    display: block;
    font-size: .85em;
    line-height: 1.3;
    border-radius: 3px;
    /*border: 1px solid #3a87ad;*/
    background-color: #fff;
    font-weight: normal;
}

.fc-event:hover .fc-overlay, .fc-event:focus .fc-overlay, .fc-event:active .fc-overlay {
    display: block;
}

.fc-overlay .panel {
    padding: 15px 20px;
}

.fc-overlay .pull-down {
    bottom: 11px;
}
.fc-overlay .pull-up {
    top: 26px;
}
.fc-view-container *, .fc-view-container *:before, .fc-view-container *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel {
    border-radius: 2px;
}
.pos-rlt {
    position: relative;
}
.b-a {
    border: 1px solid #dee5e7;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.pull-right {
    float: right !important;
}


.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn {
    font-weight: 500;
    border-radius: 2px;
    outline: 0!important;
}

.btn-default {
    color: #58666e !important;
    background-color: #fcfdfd;
    background-color: #fff;
    border-color: #dee5e7;
    border-bottom-color: #d8e1e3;
    -webkit-box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
    box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
}

.fc table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    /*background-color: #f0f3f4;*/
}

/* customize */
.fc-view {
    overflow: visible;
}

.fc-toolbar {
    height: 50px;
    color: #fff;
    background-color: #262626;
    border-radius: 3px 3px 0 0;
    margin: 0;
}

.fc-toolbar .fc-button {
    color: #fff;
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
    margin: 0;
    height: 50px;
    line-height: 28px;
    padding: 10px;
}

.fc-toolbar h2 {
    font-size: 20px;
    line-height: 50px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}

.fc-view .fc-widget-header {
    background-color: #fff;
}

.fc-row:hover,
.fc-row:focus,
.fc-row:active {
    position: relative;
    z-index: 1000;
}

.fc-view .fc-widget-header,
.fc-view .fc-widget-content {
    border-color: #e3eaef;
    font-weight: normal;

}

.fc-view .fc-day-header {
    padding: 4px 4px;
}

.fc-view .fc-event {
    padding: 4px 8px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
}

.fc-view .fc-event-hori {
    padding: 4px 8px;
}

.fc-event {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.fc-event-inner {
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fc-state-highlight {
    background-color: #f1ffed;
}

.fc-overlay {
    display: none;
    position: absolute;
    min-width: 300px;
    padding: 17px 0;
    top: auto;
    left: 50%;
    margin-left: -150px;
    z-index: 1000;
}

.fc-overlay.left {
    left: 100%;
    top: -15px;
    padding: 0 10px;
    margin: 0;
}

.fc-overlay.right {
    left: auto;
    right: 100%;
    top: -15px;
    padding: 0 10px;
    margin: 0;
}

.fc-overlay.top {
    top: auto;
    bottom: -30px;
}


.fc-overlay .panel {
    padding: 15px 20px;
}

.fc-overlay .pull-up {
    top: 26px;
}

.fc-overlay .pull-down {
    bottom: 11px;
}

.fc-event:hover,
.fc-event:focus,
.fc-event:active {
    z-index: 1000;
}

.fc-event:hover .fc-overlay,
.fc-event:focus .fc-overlay,
.fc-event:active .fc-overlay {
    display: block;
}

.fc-time-grid-event {
    overflow: visible;
}

.fc-time-grid .fc-event:hover {
    z-index: 1000 !important;
}
