*,
::before,
::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
}


html {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Helvetica Neue;
}

img {
  height: auto;
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  html {
    line-height: 1.15;
  }
  img {
    max-width: 100%;
  }
  .small {
    display: inline-block;
    font-size: 9px;
    font-style: normal;
    height: 26px;
    line-height: 27px;
    width: 26px;
  }
}


body {
  font-family: Verb;
  font-weight: 400;
  font-size: 12px;

}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, blockquote, q, th, td, caption, table, body, div, span, object, iframe, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, tbody, tfoot, thead, tr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
ul {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

/*
.cdn-img {
  display: block;
}
*/

.sprite-line-icons use {
  fill-rule: evenodd;
  fill: none;
  stroke: #2a2a2a;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.breadcrumb-container .desktop-reference, .breadcrumb-container .mobile-reference {
  display: inline-block;
  font-size: 11px;
  padding: 0 3px;
}

.breadcrumb-container .desktop-reference > span {
  background: #f5f5f5 !important;
  display: inline-block;
  margin-top: -2px;
  padding: 2px 6px;
}

.product-title .product-title__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.product-title h1{
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin: 8px 0;
  max-width: 85%;
  text-transform: uppercase;
}

@media (max-width: 1399px) {
  li .mtc-link, li > a {
    font-size: 11px;
    letter-spacing: .5px;
    padding: 6px 10px;
  }
}

h2 {
  font-weight: 900;
  margin: 30px 0 50px;
  text-align: center;
  text-transform: uppercase;
}

button {

  padding-block: 1px;
  padding-inline: 6px;
  border: 0px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}

.main-container {
  margin: 0 auto;
  max-width: 1300px;
  width: 90%;
}



