h2 {
  text-align: center;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.product-main {
  background-color: #fff;
  padding-top: 15px;
  /* margin: 0 0 0 16px; */
  margin: 0;
}



.row .col.s11, .row .col.s12 {
  left: auto;
  margin-left: auto;
  right: auto;
}

.product-title .product-title__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.product-title h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin: 8px 0;
  max-width: 85%;
  text-transform: uppercase;
}

.product-title a {
  flex: 0 1 auto;
  min-height: 40px;
  width: auto;
}

.share-on__container {
  position: relative;
}


.row .col {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding: 0 .375rem;
}

a, span.mtc-link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #d6001c;
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.row .col.s12 {
  width: 100%;
}


img {
  max-width: 100%;
}

.product img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}


@media only screen and (min-width: 993px) {
  .row .col.l5, .row .col.l6 {
    left: auto;
    margin-left: auto;
    right: auto;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l5 {
    width: 41.6666666667%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l7, .row .col.l8 {
    left: auto;
    margin-left: auto;
    right: auto;
  }
}

@media only screen and (min-width: 601px) {
  .row .col.m7, .row .col.m8 {
    left: auto;
    margin-left: auto;
    right: auto;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l7, .row .col.l8 {
    left: auto;
    margin-left: auto;
    right: auto;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l7 {
    width: 58.3333333333%;
  }
}

.product-description-container {
  background-color: #fff;
  margin: 13px;
}


/* product list */
.filters__header .filters__header-title .header-title .total-results,
.filters__header .filters__header-title .header-title strong {
  color: #d6001c;
}
