
h2 {
  text-align: center;
}

@media (max-width: 600px) {
  h2 {
    font-weight: 900;
    margin: 10px 0 30px;
    text-align: center;
    text-transform: uppercase;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}*/

.row:after {
  clear: both;
  content: "";
  display: table;
}

.product-main {
  background-color: #fff;
  padding-top: 15px;
  /* margin: 0 0 0 16px; */
  margin: 0;
}



.row .col.s11, .row .col.s12 {
  left: auto;
  margin-left: auto;
  right: auto;
}

.product-title .product-title__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.product-title h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin: 8px 0;
  max-width: 85%;
  text-transform: uppercase;
}

.product-title a {
  flex: 0 1 auto;
  min-height: 40px;
  width: auto;
}

.share-on__container {
  position: relative;
}


.row .col {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding: 0 .375rem;
}

a, span.mtc-link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #d6001c;
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.row .col.s12 {
  width: 100%;
}


img {
  max-width: 100%;
}

.product img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;

  height: auto;
  -ms-interpolation-mode: bicubic;
}


@media only screen and (min-width: 993px) {
  .row .col.l5, .row .col.l6 {
    left: auto;
    margin-left: auto;
    right: auto;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l5 {
    width: 41.6666666667%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l7, .row .col.l8 {
    left: auto;
    margin-left: auto;
    right: auto;
  }
}

@media only screen and (min-width: 601px) {
  .row .col.m7, .row .col.m8 {
    left: auto;
    margin-left: auto;
    right: auto;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l7, .row .col.l8 {
    left: auto;
    margin-left: auto;
    right: auto;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l7 {
    width: 58.3333333333%;
  }
}

.product-description-container {
  background-color: #fff;
  margin: 13px;
}

@media (max-width: 960px) {
  .product-description-container {
    margin: 0px;
  }

}



/* product list */
.filters__header .filters__header-title .header-title .total-results,
.filters__header .filters__header-title .header-title strong {
  color: #d6001c;
}



/* checkout */

.container.account {
  margin-top: 15px;
}

@media(max-width: 900px) {
  .container.account {
    margin-top: 8px;
  }
}


.big {
  font-size: 45px;
  height: 110px;
  line-height: 110px;
  margin-bottom: 20px;
  width: 110px;
}
.profile__avatar-text{
  margin-top: 20px;
}
.profile__edit span {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.profile__personal-info>div svg use {
  stroke-width: 1.2;
}
/*.button {
  background: none;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .5px;
  overflow: hidden;
  padding: 13px 25px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  z-index: 1;
  width: unset;
}*/
.button.button--filled {
  background-color: #000;
  color: #fff;
}

.password-form form .modify-buttons {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  margin-top: 14px;
}

@media only screen and (max-width: 600px) {
  .password-form form .modify-buttons {
    flex-wrap: wrap;
  }
}

.profile .account__user .user-avatar__container.club-member {
  padding-bottom: 20px;
}
.profile .account__user .user-avatar__container {
  margin: 0;
  padding-bottom: 10px;
}
.account__user .user-avatar__container {
  height: 130px;
  position: relative;
}

.account__content h1.account__title svg {
  vertical-align: -6px;
}

.account__content h1.account__title use {
  stroke: #000;
  stroke-width: .8;
  height: 30px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  width: 30px;
}

.sprite-line-icons use {
  fill-rule: evenodd;
  fill: none;
  stroke: #2a2a2a;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.account__content {
  box-sizing: border-box;
  font-weight: 400;
/*  padding-left: 30px !important;*/
}

.account__content-block {
  margin-bottom: 70px;
}
.profile section h1 {
  font-size: 18px;
  font-weight: 800;
  margin: 16px 0;
  text-transform: uppercase;
}

.account-order__detail .order-detail__estimate-date, .account-order__detail .order-detail__totals {
  font-size: 13px;
  line-height: 1.4em;
}

.account-order__detail.order__sent {
  border-left: 3px solid #000;
}

.account-order__detail .order-detail__header {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: space-between;
  justify-items: flex-start;
  padding: 7px 45px 14px 25px;
}
.account-order__detail .order-detail__header .order-detail__totals {
  border-top: none;
  display: block;
  padding: 0;
}

.account-order__detail .order-detail__header .order-detail__totals span {
  display: block;
}
.account-order__detail .order-detail__estimate-date span, .account-order__detail .order-detail__totals span {
  display: block;
}

.motocoins-card .motocoins-card__info strong {
  display: block;
  font-size: 1.5em;
  font-weight: 900;
}
.motocoins-card .motocoins-card__info span {
  font-size: 1em;
  font-weight: 600;
}
.motocoins-card .motocoins-card__header p {
  font-size: .8em;
  font-weight: 500;
  margin: 4px 0;
  text-transform: uppercase;
}

.account-order__detail .order-detail__thumbnails-list {
  align-items: flex-end;
  display: flex;
  flex: 0 0 100%;
  gap: 5px;
  overflow-x: hidden;
}
.profile .profile__orders {
  margin: 25px 0;
  width: 100%;
}

.profile .profile__orders .button--text-only {
  display: block;
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}
.account-order__detail.order__error .order-detail__type {
  color: #fd5f5f;
}
.account-order__detail .order-detail__type {
  display: block;
  font-size: 16px;
  font-weight: 900;
  padding: 14px 25px 7px;
  text-transform: uppercase;
}


.account-order__detail {
  background: #f9f9f9;
  margin-bottom: 5px;
  position: relative;
  transition: all 1s;
}

.account-order__detail:after {
  align-items: center;
  background: #d8d8d8 url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjEwIj48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiM5Nzk3OTciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjIiIGQ9Im0xIDkgNC00LTQtNCIvPjwvc3ZnPg==") no-repeat 50%;
  content: " ";
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  transition: background .2s ease;
  width: 20px;
}

.account-order__detail.order__error {
  border-left: 3px solid #fd5f5f;
}

.account-order__detail .order-detail__type svg {
  position: relative;
  top: 1px;
}
.account-order__detail.order__error .order-detail__type svg use {
  stroke: #fd5f5f;
}

.account-order__detail .order-detail__type svg use {
  stroke-width: 2px;
}

@media only screen and (max-width: 992px) {
  .account__content {
    padding-left: 0 !important;
  }
}
@media only screen and (max-width: 992px) {
  .account__content {
    padding-left: 0 !important;
  }

  .account__content-block {
    margin-bottom: 60px;
  }
}

.svg-bar.green .circle {
  stroke: #41a334;
}

.account__content-block-title {
  align-items: baseline;
}

.account__content-block .account__content-block-title {
  align-items: flex-start;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-bottom: 15px;
}


@media only screen and (max-width: 600px) {
  .account[data-v-39c4a0d8] .user-avatar__container.club-member .account__user-avatar:after {
  }
}

.profile .account__user {
  border: 0;
  margin: 16px 0 0;
  padding: 0;
  width: 150px;
}

.account__user {
  border-bottom: 5px solid #f1f1f1;
  margin: 0 20px 30px;
  padding-bottom: 30px;
}

.account__user .user-avatar__container .account__user-avatar {
  left: 10px;
  position: absolute;
  top: 10px;
}

.svg-bar {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: -1;
}
svg:not(:root) {
  overflow: hidden;
}
.account__user-avatar {
  border-radius: 200px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.account__content h1.account__title {
  font-size: 25px;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

.profile__edit {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .5px;
}

.account__user-avatar .edit-user-avatar .upload-image {
  height: 30px;
  width: 45px;
}

.account__user-avatar .edit-user-avatar .delete-image, .account__user-avatar .edit-user-avatar .upload-image {
  align-items: center;
  background: #000;
  border-radius: 200px;
  display: flex;
  justify-content: center;
}

.account__user-avatar img {
  border-radius: 200px;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}

.profile {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
}


.svg-bar .lane {
  fill: none;
  stroke: #f5f5f5;
  stroke-width: 5px;
  stroke-dasharray: 400;
  stroke-dashoffset: 0;
}
.svg-bar.orange .circle {
  stroke: #e4af08;
}
.svg-bar .circle {
  fill: none;
  stroke-width: 5px;
  stroke-dasharray: 400;
  stroke-linecap: round;
}

.account__user-avatar .edit-user-avatar .upload-image {
  height: 30px;
  width: 45px;
}




.placeholder {
  color: #adadad;
}

.profile__name span {
  display: block;
}
.profile__name {
  border-bottom: 1px solid #d8d8d8;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 12px;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.account__user-avatar .edit-user-avatar input {
  cursor: pointer;
  height: 32px;
  opacity: 0;
  position: absolute;
  width: 32px;
  z-index: 1;
}

/**** product detail page ****/
.product-wrapper.product-detail .swatch.color-value.selected, .product-wrapper.product-detail .swatch.size-value.selected {
  border-color: #000;
}

/* product info */
.product-buy-panel__price {
  background-color: #f5f5f5;
  padding: 50px 30px 30px;
  position: relative;
  text-align: center;
}

.product-buy__header {
  align-items: center;
  display: flex;
  height: 46px;
  justify-content: space-between;
  margin: -50px -30px 10px;
}

.product-tags {
  display: flex;
  flex-wrap: wrap;
}

.product-buy__header .product-tags {
  flex: 0 0 100% !important;
  width: 100%;
}



.tag.product-tag.product-tag--new {
  background-color: #e68931;
}

.tag.product-tag.product-tag--old {
  color: #fff;
}

.product-tags .tag.product-tag {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  margin-right: 1px;
  padding: 1px 10px;
  text-transform: uppercase;
  margin-bottom: 1px;
}

.product-buy__header {
  align-items: center;
  display: flex;
  height: 46px;
  justify-content: space-between;
  margin: -50px -30px 10px;
}

.product-price {
  display: block;
  font-size: 55px;
  font-weight: 900;
}

.product-price__offer {
  color: #d6001c;
}

.seen-cheaper-button {
  font-size: 9px;
  font-weight: 600;
  padding: 8px 10px;
  text-transform: uppercase;
}

.product-buy__price {
  align-items: baseline;
  display: flex;
  justify-content: center;
}


.buy-button {
  align-self: stretch;
  background-color: #41a334;
  border: 0;
  color: #fff;
  flex: 0 0 75%;
  font-weight: 800;
  overflow: hidden;
  position: relative;
  text-transform: uppercase !important;
}

.buy-button .blocked-by-country {
  -webkit-animation: blocked-by-country 1s linear both;
  animation: blocked-by-country 1s linear both;
  background-color: #ffae02;
  bottom: 10%;
  color: #684700;
  display: block;
  display: none;
  font-size: 10px;
  font-weight: 600;
  left: 0;
  padding: 12px 8px;
  position: absolute;
  right: 0;
}

.buy-button svg {
  margin-right: 5px;
  vertical-align: -3px;
}

.product-buy-panel__buttons {
  align-content: stretch;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
  position: relative;
}

.buy-button svg use {
  stroke: #fff;
  stroke-width: 1.2;
}

.add-to-favs__product-page, .add-to-favs__product-sticky {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.add-to-favs__product-page {
  background-color: #f5f5f5;
  flex: 0 0 25%;
}

.add-to-favs__product-page .add-to-favs, .add-to-favs__product-sticky .add-to-favs {
  opacity: 1 !important;
  position: static !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}

.add-to-favs svg {
  height: 24px;
  transition: all .2s ease;
  width: 29px;
}

.add-to-favs svg use {
  stroke: #bfbfbf;
}

.buy-button > span {
  position: relative;
  z-index: 2;
}

.buy-button:after {
  background-color: #49b63a;
  content: "";
  height: 100%;
  left: -45%;
  position: absolute;
  top: 0;
  -webkit-transform: skew(50deg);
  transform: skew(50deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  transition: all .2s ease-in-out;
  width: 0;
  z-index: 1;
}

.product-wrapper.product-detail .swatch.color-value.selected, .product-wrapper.product-detail .swatch.size-value.selected {
  border-color: #000;
}

.product-sizes__header {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.product-wrapper.product-detail .swatch-tile-container {
  display: flex;
  flex-wrap: wrap;
}

.product-wrapper.product-detail .swatch.color-value, .product-wrapper.product-detail .swatch.size-value {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.product-wrapper.product-detail .swatch.color-value, .product-wrapper.product-detail .swatch.size-value {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.product-wrapper.product-detail .swatch.color-value, .product-wrapper.product-detail .swatch.size-value {
  width: 66px;
  height: 66px;
}

.product-wrapper.product-detail .swatch-tile-container.color-tile {
  width: 100%;
  /* width: calc(100% + (12px * 4)); */
  margin: 0 -20px;
  padding: 0 20px;
  overflow-x: unset;
  flex-wrap: wrap;
}


.size_guide_button span {
  align-items: center;
  display: flex;
  gap: 5px;
}

.free-shipping {

  align-items: center;
  display: flex;
  font-size: 11px;
  justify-content: center;
}

.free-shipping svg {
  margin-right: 3px;
}

.free-shipping svg use {
  stroke: #41a334;
  stroke-width: 1.4;
}

.price-bottom__checks > * a {
  color: #000;
}

.price-bottom__checks {
  border-top: 1px solid #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.2em;
  margin: 12px 0 0;
}

.price-bottom__checks > * {
  font-size: 11px;
  font-weight: 700;
  margin: 0 7px;
  padding: 0;
  text-transform: uppercase;
}

.product-sizes__header {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.size_guide_button {
  align-items: center;
  background-color: #e7e7e7;
  color: #000;
  display: flex;
  font-size: 11px;
  gap: 5px;
  justify-content: center;
  line-height: 14px;
  padding: 10px 12px !important;
  text-transform: uppercase;
  white-space: nowrap;
}

/*
[type=checkbox]:checked, [type=checkbox]:not(:checked), [type=radio]:checked, [type=radio]:not(:checked) {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
*/


#reviews button, input, optgroup, select, textarea {
  border-radius: 0;
  box-sizing: border-box !important;
  color: #000;
  font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  outline: none;
}

/*
button, input, optgroup, select, textarea {
  border-radius: 0;
  box-sizing: border-box !important;
  color: #000;
  font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  outline: none;

}
*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


.product-sizes__header h2 {
  font-size: 11px;
  line-height: 14px;
  margin: 10px 0;
  text-transform: uppercase;
}

li .mtc-link, li > a {
  color: #000;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  /* line-height: 1.05em; */
  padding: 6px 18px;
  text-transform: uppercase;
}

.desktop div.container.product {
  margin: 0 10px;
}
/***** END product detail page ****/


/************ NAVIGATION ********************/



.centered-mega-menu {
  left: 50% !important;
  transform: translateX(-50%) !important;
  max-width: 1300px !important;
}

#nav {
  min-width: 800px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;

}
#nav {
  position: relative;
  font-weight: normal;
}

#nav ul {
  padding: 0;
  margin: 0;
}

#nav #segments li.open {
  color: #fff;
}

#nav ul li {
  display: inline-block;
  line-height: inherit;
}

#nav #segments li a {
  padding: 10px 5px 7px 8px;
  font-weight: 600;
  text-transform: uppercase;
}


#nav ul.u0 {
  background-color: #b21a15;
}


.svg-icon {
  width: 70px; /* Adjust size as needed */
  height: 70px;
  /* Crucial: this icon is made of lines, so it needs a stroke color */
  stroke: #333;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.mega-menu-wrapper > div{
  margin: 0 auto;
  max-width: 1300px;
  width: 90%;
  left: 5%;

}

#nav ul.u0 li.l0 + li.l0:before {
  content: "";
  display: block;
  height: 12px;
  border-left: solid 1px #cb3d01;
  position: absolute;
  bottom: 12px;
}

#nav ul.u1 {
  position: absolute;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  left: 0px;
  z-index: 2000;
  box-sizing: border-box;
  /*width: 100%;*/
  background: #fff;
  border-bottom: solid 2px #b21a15;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}
#nav ul.u0 li:hover ul.u1 {
  visibility: visible;
  transition-delay: 300ms;
}

#nav ul.u0 ul.u1 {
  visibility: hidden;
  transition-delay: 300ms;
}

span.h2 {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
}

#nav .submenu__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#nav .main-nav li .submenu .submenu__header {
  margin-bottom: 30px;
}

#nav .submenu__header span.h2 a.mtc-link {
  background: transparent url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjciIHdpZHRoPSI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0uOCA1LjhsMi40LTIuNEwuOCAxIiBmaWxsPSJub25lIiBzdHJva2U9IiNlYjAwMTIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjIiLz48L3N2Zz4=) 100% no-repeat;
  color: #d6001c;
  display: inline-block;
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 18px;
  padding-right: 8px;
  vertical-align: middle;
}


#nav ul.u0 li.l0:first-child > a {
  padding-left: 15px;
}

/*
#nav ul.u0 ul.u1 {
  transition-delay: 300ms;
}
*/

#nav ul.u0 li:hover ul.u1 {
  visibility: visible;
  transition-delay: 300ms;

}

#nav ul.u0 li:hover ul.u1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -200px; /* Adjust this to cover the height of the dropdown */
  z-index: -1; /* Keeps it behind the content but counts for hover */
}

#nav .main-nav li:hover .submenu {
  display: block;
}

.subCategories {
  width: 100%;
}

#nav .container {
  width: 100%;
  max-width: 100%;
}

#nav #segments li.segment-float-right {
  float: right;
  padding-right: 24px;
}

#nav a {
  font-weight: normal;
}


#nav ul.u0 li.l0 > a {
  display: block;
  padding: 12px 14px 10px 13px;
  color: #fff;
  letter-spacing: -.5px;
}

/*
#nav ul li a {
  display: block;
  color: inherit;
  font-size: 14px;
}
*/

#nav .menu-tires .submenu__content.submenu__icon-buttons a img, #nav .submenu__content.submenu__icon-buttons span.mtc-link img {
  height: auto;
  margin-bottom: 3px;
  width: 100px;
}

#nav ul.u0 li.l0 + li.l0:before {
  content: "";
  display: block;
  height: 12px;
  border-left: solid 1px #cb3d01;
  position: absolute;
  bottom: 12px;
}

a, span.mtc-link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #d6001c;
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
}


#nav .main-nav li .submenu span.h2 {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
}

#nav .main-nav li .submenu span.h2 a, .main-nav li .submenu span.h2 span.mtc-link {
  background: transparent url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjciIHdpZHRoPSI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0uOCA1LjhsMi40LTIuNEwuOCAxIiBmaWxsPSJub25lIiBzdHJva2U9IiNlYjAwMTIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjIiLz48L3N2Zz4=) 100% no-repeat;
  color: #d6001c;
  display: inline-block;
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 18px;
  padding-right: 8px;
  vertical-align: middle;
}

#nav .main-nav li .submenu span.h2 {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
}

#nav .main-nav li:hover .submenu {
  display: block;
}

#nav .main-nav li .submenu > .container > .row {
  margin-bottom: 0;
}

#nav .main-nav li .submenu .submenu__container, #nav .main-nav li .submenu .submenu__header {
  display: flex;
  justify-content: space-between;
  margin: 0 !important;
  width: 100%;
}

#nav .main-nav li .submenu .submenu__main-content {
  flex: 1 1 auto;
}

#nav .main-nav li .submenu .submenu__main-content.submenu__no-border {
  border-right: 0;
  margin-right: 0;
  /*padding-right: 0;*/
}

#nav .main-nav li .submenu .submenu__header {
  margin-bottom: 30px;
}


#nav .submenu__content.submenu__icon-buttons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /*flex-wrap: wrap;*/
  justify-content: flex-start;
}

#nav .submenu__content.submenu__icon-buttons a, #nav .submenu__content.submenu__icon-buttons span.mtc-link {
  display: block;
  margin-bottom: 30px;
  min-width: 16.6666%;
  text-align: center;
}

#nav .submenu__content.submenu__icon-buttons a img, #nav .submenu__content.submenu__icon-buttons span.mtc-link img {
  height: auto;
  margin-bottom: 3px;
  width: 70px;
}


#nav ul.u0 #ni_2529_marcas ul.u1 a {
  line-height: 5px;
}

#nav .main-nav li .submenu .submenu__container, #nav .main-nav li .submenu .submenu__header {
  display: flex;
  justify-content: space-between;
}


#nav .bike-search {
  flex: 0 0 25%;
  text-align: center;
}


#nav .submenu__divider:before {
  margin: 5px 10px 5px 0;
}

#nav .submenu__divider:after, #nav .submenu__divider:before {
  background-color: #e8e8e8;
  content: "";
  flex: 1;
  padding: 1px;
}

#nav .submenu__divider:after {
  margin: 5px 20px 5px 10px;
}

#nav .submenu__divider:after, #nav .submenu__divider:before {
  background-color: #e8e8e8;
  content: "";
  flex: 1;
  padding: 1px;
}

#nav .submenu__divider {
  align-items: center;
  display: flex;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 15px 0 20px;
  text-transform: uppercase;
}

#nav .submenu__outstanding-list {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}


#nav .submenu__outstanding-list ul.five-columns {
  -moz-columns: 100px 5;
  columns: 100px 5;
}


/* SECOND MENU */

#nav .main-nav li .submenu > .container > .row {
  margin-bottom: 0;
}

#nav .main-nav li .submenu .submenu__header {
  margin-bottom: 30px;
}

#nav .main-nav li .submenu .submenu__main-content {
  flex: 1 1 auto;
}

#nav .main-nav li .submenu .submenu__container, #nav .main-nav li .submenu .submenu__header {
  display: flex;
  justify-content: space-between;
}


#nav .main-nav li .submenu span.h2 {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
}

#nav .main-nav li .submenu span.h2 a, .main-nav li .submenu span.h2 span.mtc-link {
  background: transparent url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjciIHdpZHRoPSI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0uOCA1LjhsMi40LTIuNEwuOCAxIiBmaWxsPSJub25lIiBzdHJva2U9IiNlYjAwMTIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjIiLz48L3N2Zz4=) 100% no-repeat;
  color: #d6001c;
  display: inline-block;
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 18px;
  padding-right: 8px;
  vertical-align: middle;
}

#nav .submenu__content.submenu__icon-buttons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* flex-wrap: wrap; */
  justify-content: flex-start;
}

#nav .submenu__main-content {
  padding: 20px 30px 8px;
}


#nav .main-nav li .submenu span.h2 {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
}

#nav .submenu__content.submenu__icon-buttons a img, #nav .submenu__content.submenu__icon-buttons span.mtc-link img {
  height: auto;
  margin-bottom: 3px;
  width: 70px;
}


.col.s12.submenu__extra-nav {
  padding: 0;
}

.extra__brands {
  border-top: 1px solid #f5f5f5;
  margin-top: 10px;
  padding: 10px 0;
}

.extra__brands > .container span.h3 {
  display: block;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: .5px;
  line-height: 16px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.extra__brands > .container {
  align-items: center;
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
}

#nav .extra__container .container {
  padding-left: 20px;
  padding-right: 20px;
}

.submenu__riding-styles {
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  padding: 0px 0;
}
.submenu__riding-styles li{
  padding-top: 4px;
}
#nav .extra__container .container {
  padding-left: 20px;
  padding-right: 20px;
}

.extra__brands a, .extra__brands span.mtc-link {
  align-items: center;
  color: #000;
  display: block;
  display: flex;
  font-size: 9px;
  font-weight: 500;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
}

.submenu__riding-styles span.h3 {
  display: block;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: .5px;
  line-height: 16px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.extra__brands {
  border-top: 1px solid #f5f5f5;
  margin-top: 10px;
  padding: 10px 0;
}

.extra__brands li {
  display: inline-block;
  overflow: hidden;
}

/*
.desktop {
  display: flex;
  justify-content: space-between;
}
*/

#nav ul.u0 ul.u1 a {
  transition: unset;
}

#nav ul li a {
  display: block;
  color: inherit;
  font-size: 14px;
}


.submenu__riding-styles > .container {
  align-items: center;
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
}

/*.desktop a, .desktop span.mtc-link {
  align-items: center;
  color: #000;
  display: block;
  display: flex;
  font-size: 9px;
  font-weight: 500;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
}

.desktop li img {
  display: block;
  height: 23px;
  margin-right: 3px;
  width: 35px;
}

.desktop a p, .desktop span.mtc-link p {
  margin: 0;
}
*/
li .mtc-link, li > a {
  color: #000;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: uppercase;
}



#nav .desktop span.mtc-link {
  align-items: center;
  color: #000;
  display: block;
  display: flex;
  font-size: 9px;
  font-weight: 500;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
}

.submenu__riding-styles .mtc-link{
  padding: 0
}
.submenu__riding-styles span.mtc-link svg {
  width: 40px;
  height: 40px;
}

/************************* END NAVIGATIO *************/



/******************************** product list item *************/

.strike {
  -webkit-text-decoration: line-through;
  text-decoration: line-through;
}

.item__old-price {
  color: #000;
  font-size: 10px;
  font-weight: 500;
  left: 0;
  line-height: 16px;
  opacity: .4;
  position: absolute;
  top: -1px;
}

article.item {
  position: relative;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  height: 100%;
  padding: 15px 5px 10px;
}


.item .heading-tag {

  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 500;
  /*justify-content: flex-end;*/
  line-height: 13px;
  margin: 5px 0 0;
  padding-bottom: 12px;
  height: 50px;
  text-transform: uppercase;
}

.item__info {
  display: flex;
  flex-direction: column;
}

.item > div, .item > section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.add-to-favs {
  background-color: transparent;
  height: 24px;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 15px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  transition: all .2s ease;
  width: 29px;
}

.product-tags {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: -2px;
}

.special-tag {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: -5px;
  top: 0;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
}


.product-list .products .item {
  background-color: #fff;
  margin-bottom: 5px;
}

.prod-list-miniatures {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 4px;
  gap: 3px;
}

.item .item__name {
  justify-content: flex-end;
  margin: 15px 0 15px;
  position: relative;
}

.rating-block {
  display: inline-block;
  overflow: hidden;
}

.item .item__rating {
  height: 25px;
  display: block;
}

.item .item__rating .rating-block {
  -webkit-transform: scale(.7);
  transform: scale(.7);
  -webkit-transform-origin: left;
  transform-origin: left;

}

.item .item__sizes {
  bottom: 2px;
  color: gray;
  font-size: 10px;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  -webkit-transform: translateX(5%);
  transform: translateX(5%);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  transition: opacity .2s ease-out, -webkit-transform .2s ease-out;
  transition: transform .2s ease-out, opacity .2s ease-out;
  transition: transform .2s ease-out, opacity .2s ease-out, -webkit-transform .2s ease-out;
  white-space: nowrap;
}

.item img {
  display: block;
  /*margin-bottom: 4px;*/
  max-width: 300px;
  width: 100%;
}


.item .rating-block img {
  display: block;
  height: 12px;
  width: 68px;
}

.item .item__sizes {
  color: #999;
  display: block;
  font-size: 9px;
}

.item .item__sizes, .item h1 {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item__price {
  color: #000;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
}


.item__bottom {
  position: relative;
  align-items: center;
  border-top: 1px solid #d8d8d8;
  display: block;
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  padding-top: 10px;

}

.item .heading-tag strong {
  display: block;
  font-size: 13px;
  font-weight: 700;
}

.prod-list-miniatures-item {
  cursor: pointer;
}


/**** tags ******/

.tag.product-tag.product-tag--crazydays, .tag.product-tag.product-tag--offer, .tag.product-tag.product-tag--sales {
  background-color: #d6001c;
}

@media only screen and (min-width: 993px) {
  .row .col.lc5 .item .item__info .item__name {
    margin: 0 0 15px;
  }
}


@media only screen and (min-width: 993px) {
  .row .col.lc5 .item .item__info {
    padding: 0 10px;
  }
}

@media (max-width: 993px) {
  article.item {
    position: relative;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    height: 100%;
    padding: 6px;
  }

  .item .item__name {
    margin: 5px 0 0 0;
  }

  li .mtc-link, li > a {
    color: #000;
    /*color: #dfcfcf;*/
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    /* line-height: 1.05em; */
    padding: 6px;
    /*padding: 6px 18px;*/
    text-transform: uppercase;
  }
}

/************** end product list litem *************************/

/*************** main menu transitions ******************************/
.megamenu-enter-active,
.megamenu-leave-active {
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.megamenu-enter-from,
.megamenu-leave-to {
  opacity: 0;
  transform: translateY(-6px);
}

.megamenu-enter-to,
.megamenu-leave-from {
  opacity: 1;
  transform: translateY(0);
}
/*************** /main menu transitions ******************************/
