
:root {
    --vs-colors--lightest: rgba(60,60,60,.26);
    --vs-colors--light: rgba(60,60,60,.5);
    --vs-colors--dark: #333;
    --vs-colors--darkest: rgba(0,0,0,.15);
    --vs-search-input-color: inherit;
    --vs-search-input-bg: #fff;
    --vs-search-input-placeholder-color: inherit;
    --vs-font-size: 1rem;
    --vs-line-height: 1.4;
    --vs-state-disabled-bg: #f8f8f8;
    --vs-state-disabled-color: var(--vs-colors--light);
    --vs-state-disabled-controls-color: var(--vs-colors--light);
    --vs-state-disabled-cursor: not-allowed;
    --vs-border-color: var(--vs-colors--lightest);
    --vs-border-width: 1px;
    --vs-border-style: solid;
    --vs-border-radius: 4px;
    --vs-actions-padding: 4px 6px 0 3px;
    --vs-controls-color: var(--vs-colors--light);
    --vs-controls-size: 1;
    --vs-controls--deselect-text-shadow: 0 1px 0 #fff;
    --vs-selected-bg: #f0f0f0;
    --vs-selected-color: var(--vs-colors--dark);
    --vs-selected-border-color: var(--vs-border-color);
    --vs-selected-border-style: var(--vs-border-style);
    --vs-selected-border-width: var(--vs-border-width);
    --vs-dropdown-bg: #fff;
    --vs-dropdown-color: inherit;
    --vs-dropdown-z-index: 1000;
    --vs-dropdown-min-width: 160px;
    --vs-dropdown-max-height: 350px;
    --vs-dropdown-box-shadow: 0px 3px 6px 0px var(--vs-colors--darkest);
    --vs-dropdown-option-bg: #000;
    --vs-dropdown-option-color: var(--vs-dropdown-color);
    --vs-dropdown-option-padding: 3px 20px;
    --vs-dropdown-option--active-bg: #5897fb;
    --vs-dropdown-option--active-color: #fff;
    --vs-dropdown-option--deselect-bg: #fb5858;
    --vs-dropdown-option--deselect-color: #fff;
    --vs-transition-timing-function: cubic-bezier(1,-0.115,0.975,0.855);
    --vs-transition-duration: 150ms;
}

.input__group label.error {
    color: #f44a4a!important;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: system,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",Helvetica Neue;
    font-size: 16px;
    font-weight: 300;
    scroll-behavior: smooth;
    word-spacing: 1px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}


textarea {
    background-color: transparent;
    height: 3rem;
    width: 100%;
}

button {
    background-color: transparent;
    border: 0;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input, optgroup, select, textarea {
    border-radius: 0;
    box-sizing: border-box!important;
    color: #000;
    font-family: system,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
    outline: none;
}

.button {
    background: none;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .5px;
    overflow: hidden;
    padding: 13px 25px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    z-index: 1;
}
.form-actions .button:only-child {
    margin: 0 auto !important;
    max-width: 410px;
    width: 100%;
}
.actions-button .step__actions .button{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 40px;
    padding: 0 15px!important;
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}


.input__group.checkbox input[type=checkbox], .input__group.checkbox input[type=radio], .input__group.radio input[type=checkbox], .input__group.radio input[type=radio] {
    top: 2px;
    position: relative;
}



/*

interferes with click from VRadio
.checkout input[type=radio] {
    border-radius: 50%;
    height: 17px;
    width: 17px;
}
*/


button, input, optgroup, select, textarea {
    border-radius: 0;
    box-sizing: border-box!important;
    color: #000;
    font-family: system,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
    outline: none;
}


.checkout input[type=checkbox]:not(.toggle-checkbox):before, .checkout input[type=radio]:before {
    box-shadow: inset 13px 13px #000;
}
.checkout input[type=checkbox]:not(.toggle-checkbox):checked:after, .checkout input[type=checkbox]:not(.toggle-checkbox):checked:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}


.checkout input[type=checkbox]:not(.toggle-checkbox):after {
    box-shadow: inset 13px 13px #fff;
    -webkit-clip-path: polygon(20% 51%,41% 70%,83% 31%,75% 22%,41% 54%,28% 42%);
    clip-path: polygon(20% 51%,41% 70%,83% 31%,75% 22%,41% 54%,28% 42%);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

.input__group {
    margin: 5px 0;
    position: relative;
}

.input__group label strong {
    font-weight: 700;
}

.form-fieldset .input__group {
    padding: 0;
}

.input__group.checkbox, .input__group.radio {
    align-items: flex-start;
    display: flex;
    gap: 5px;
    margin: 5px 0;
}
.input__group input[type=checkbox]~label, .input__group input[type=radio]~label {
    cursor: pointer;
    position: relative;
    width: 100%;
}

input:not([type]), input[type=date]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=email]:not(.browser-default), input[type=number]:not(.browser-default), input[type=password]:not(.browser-default), input[type=search]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=text]:not(.browser-default), input[type=time]:not(.browser-default), input[type=url]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
    box-sizing: content-box;
    font-size: 15px;
    height: 3rem;
    margin: 0 0 8px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.input__group input:not([type]), .input__group input[type=date]:not(.browser-default), .input__group input[type=datetime-local]:not(.browser-default), .input__group input[type=datetime]:not(.browser-default), .input__group input[type=email]:not(.browser-default), .input__group input[type=number]:not(.browser-default), .input__group input[type=password]:not(.browser-default), .input__group input[type=search]:not(.browser-default), .input__group input[type=tel]:not(.browser-default), .input__group input[type=text]:not(.browser-default), .input__group input[type=time]:not(.browser-default), .input__group input[type=url]:not(.browser-default), .input__group textarea {
    background-color: transparent;
/*    background-color: #fff;*/
    border-color: #d8d8d8;
    font-weight: 300;
    height: 45px;
    margin: 0;
    padding: 17px 10px 3px;
}



.input__group input:not([type]):focus+label, .input__group input:not([type]):not(:placeholder-shown)+label, .input__group input[type=date]:not(.browser-default):focus+label, .input__group input[type=date]:not(.browser-default):not(:placeholder-shown)+label, .input__group input[type=datetime-local]:not(.browser-default):focus+label, .input__group input[type=datetime-local]:not(.browser-default):not(:placeholder-shown)+label, .input__group input[type=datetime]:not(.browser-default):focus+label, .input__group input[type=datetime]:not(.browser-default):not(:placeholder-shown)+label, .input__group input[type=email]:not(.browser-default):focus+label, .input__group input[type=email]:not(.browser-default):not(:placeholder-shown)+label, .input__group input[type=number]:not(.browser-default):focus+label, .input__group input[type=number]:not(.browser-default):not(:placeholder-shown)+label, .input__group input[type=password]:not(.browser-default):focus+label, .input__group input[type=password]:not(.browser-default):not(:placeholder-shown)+label, .input__group input[type=search]:not(.browser-default):focus+label, .input__group input[type=search]:not(.browser-default):not(:placeholder-shown)+label, .input__group input[type=tel]:not(.browser-default):focus+label, .input__group input[type=tel]:not(.browser-default):not(:placeholder-shown)+label, .input__group input[type=text]:not(.browser-default):focus+label, .input__group input[type=text]:not(.browser-default):not(:placeholder-shown)+label, .input__group input[type=time]:not(.browser-default):focus+label, .input__group input[type=time]:not(.browser-default):not(:placeholder-shown)+label, .input__group input[type=url]:not(.browser-default):focus+label, .input__group input[type=url]:not(.browser-default):not(:placeholder-shown)+label, .input__group textarea:focus+label, .input__group textarea:not(:placeholder-shown)+label {
    font-size: 12px;
    left: 7px;
    padding: 0 5px;
    top: 1px;
    -webkit-transform: translate(0);
    transform: translate(0);
}

.input__group input:not([type])+label, .input__group input[type=date]:not(.browser-default)+label, .input__group input[type=datetime-local]:not(.browser-default)+label, .input__group input[type=datetime]:not(.browser-default)+label, .input__group input[type=email]:not(.browser-default)+label, .input__group input[type=number]:not(.browser-default)+label, .input__group input[type=password]:not(.browser-default)+label, .input__group input[type=search]:not(.browser-default)+label, .input__group input[type=tel]:not(.browser-default)+label, .input__group input[type=text]:not(.browser-default)+label, .input__group input[type=time]:not(.browser-default)+label, .input__group input[type=url]:not(.browser-default)+label, .input__group textarea+label {
    left: 15px;
    pointer-events: none;
    position: absolute;
    top: 34px;
    -webkit-transform: translateY(-21px);
    transform: translateY(-21px);
    transition: all .3s cubic-bezier(.3,0,0,1);
    width: auto!important;
}

input:not([type])+label:after, input[type=date]:not(.browser-default)+label:after, input[type=datetime-local]:not(.browser-default)+label:after, input[type=datetime]:not(.browser-default)+label:after, input[type=email]:not(.browser-default)+label:after, input[type=number]:not(.browser-default)+label:after, input[type=password]:not(.browser-default)+label:after, input[type=search]:not(.browser-default)+label:after, input[type=tel]:not(.browser-default)+label:after, input[type=text]:not(.browser-default)+label:after, input[type=time]:not(.browser-default)+label:after, input[type=url]:not(.browser-default)+label:after, textarea.materialize-textarea+label:after {
    content: "";
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    transition: opacity .2s ease-out,color .2s ease-out;
}


.input__group {
    margin: 5px 0;
    position: relative;
}
.input__group label {
    color: #747474!important;
    font-size: 16px;
    margin-bottom: 0;
}



label {
    color: #000;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 8px;
}

.form-fieldset {
    align-items: flex-start;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    row-gap: 5px;
}

.form-item.full-width {
    max-width: 100%;
    width: 100%;
}

.form-item.half-width {
    width: calc(50% - 5px);
}

.input__group.checkbox label, .input__group.radio label {
    font-size: 14px;
    width: 100%;
}


@media only screen and (min-width: 601px) {
    .form-item {
        width: calc(50% - 5px);
    }
}

.input__group input[type=checkbox]~label, .input__group input[type=radio]~label {
    cursor: pointer;
    position: relative;
    width: 100%;
}

.actions-button .step__actions{
    padding: 0 15px;
}

.actions-button .step__actions .button.actions__continue{
    flex: 1 1 auto;
    max-width: 380px;
}

.actions-button .step__actions .button.actions__continue {
    flex: 1 1 auto;
    max-width: 380px;
}


@media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .hide-on-med-and-up {
        display: none !important;
    }
}

@media screen and (min-width: 600px) {
    .hide-on-med-and-up {
        display: none !important;
    }
}



.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 95%;
}


.motomundi-logo {
    align-items: center;
    display: flex;
}

.checkout .motomundi-logo {
    flex-direction: row;
    margin: 10px auto 5px;
}

.mtc-link, .mtc-link .light {
    display: block;
}

a, span.mtc-link {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #d6001c;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.form-actions {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

.checkout .button.button--outline {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    font-weight: 500;
}

.form-actions.align-left {
    justify-content: flex-start;
}


/*** cart ¨****/

.data__login-message a{
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.data__login-message a span {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}


/************ modal ************************/

.modal {
    min-width: 440px;
}

.checkout .error {
    color: #f44a4a;
    font-size: 0.875rem;
}
.modal-wrapper {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}
.modal-wrapper .modal-backdrop {
    background: hsla(0,0%,96%,.9);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-wrapper .modal {
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.15),0 0 35px 0 rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    max-height: 80%;
    max-width: 70%;
    overflow: visible;
    z-index: 2;
}

.modal-wrapper .modal .modal-header {
    background-color: #f5f5f5;
    padding: 30px 30px 0;
    position: relative;
    z-index: 20;
}
.social .social__google {
    align-items: center;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
    color: #000;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -.25px;
    padding: 10px 13px;
    text-transform: uppercase;
}

.modal .modal-body .social button {
    justify-content: center;
    width: 100%;
}
.checkout form .button {
    background-color: #41a334;
    border-color: #41a334;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -.25px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-transform: uppercase;
    width: 100%;
}

.form-actions .button:only-child {
    margin: 0 auto!important;
    max-width: 410px;
    width: 100%;
}


form a {
    color: #41a334;
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.social {
    display: flex;
    justify-content: center;
}
.modal .modal-body .divider {
    border: none;
    display: block;
    font-weight: 300;
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
}
.modal .modal-body .login-form__links .link-register {
    display: none;
}

.modal .modal-body a {
    color: #000;
    font-size: 13px;
    font-weight: 300;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.modal-wrapper .modal .modal__close use {
    stroke: #fff;
    stroke-width: 1;
}

form span.h2{
    display: block;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: -.25px;
    margin: 0 auto 30px;
    padding: 30px 0 0;
    text-align: center;
    text-transform: uppercase;
}

.modal .modal-body .h2 {
    font-size: 16px;
    margin: 0 0 15px;
    padding: 10px 0 0;
    text-align: left;
}

.modal-wrapper .modal .modal__close-cont {
    position: relative;
}

.modal-wrapper .modal .modal__close {
    background-color: #000;
    padding: 8px 12px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 25;
}



.input__group.checkbox input[type=checkbox], .input__group.checkbox input[type=radio], .input__group.radio input[type=checkbox], .input__group.radio input[type=radio] {
    top: 2px;
}


.modal-wrapper .modal .modal-header:empty {
    background-color: transparent;
    padding: 10px;
}




@media only screen and (min-width: 1281px) {
    .modal-wrapper .modal {
        max-height: 80%;
        max-width: 60%;
    }
}

/*************** CHECKOUT **********************/

.checkout {
    line-height: 1.2em;
    width: 100%;
}

.checkout .modal-wrapper .modal .modal-header {
    background-color: #fff;
}

.checkout .modal-wrapper .modal .modal-body {
    padding: 20px 30px 30px;
}

.checkout .input__group.checkbox label, .input__group.radio label
{

}

.checkout .input__group {
    margin: 0px 0;
    position: relative;
}


.checkout .motomundi-logo {
    flex-direction: row;
    margin: 10px auto 5px;
}


.checkout .toggle {
    cursor: pointer;
}

.checkout .input__group * {
    transition: all .4s ease;
}

.checkout .button.button--small {
    font-size: 11px;
    height: auto;
    line-height: inherit;
    padding: 8px 13px;
}

.checkout input[type=checkbox]:not(.toggle-checkbox), .checkout input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #8e8e8e;
    color: #000;
    cursor: pointer;
    flex: 0 0 auto;
    height: 15px;
    margin: 0;
    opacity: 1;
    pointer-events: all;
    position: relative;
    -webkit-transform: translateY(-.075em);
    transform: translateY(-.075em);
    width: 15px;
}

.checkout input[type=radio] {
    border-radius: 50%;
    height: 17px;
    width: 17px;
}


.checkout input[type=radio]:before {
    border-radius: 50%;
    box-shadow: inset 15px 15px #000;
    height: 15px;
    width: 15px;
}

.checkout input[type=radio]:checked:before {
    -webkit-transform: scale(.85);
    transform: scale(.85);
}


.checkout .button.button--outline:hover {
    background-color: #fff;
}
.checkout .button.button--outline {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    font-weight: 500;
}

/*
.checkout .button:active, .checkout .button:focus, .checkout .button:hover {
   background-color: #000;
    border-color: #000;
    box-shadow: none;
}
*/

.checkout .button.button--light {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    color: #000;
    font-weight: 500;
}


.checkout input[type=radio]:before {
    border-radius: 50%;
    box-shadow: inset 15px 15px #000;
    height: 15px;
    width: 15px;
}

.checkout input[type=checkbox]:not(.toggle-checkbox):after, .checkout input[type=checkbox]:not(.toggle-checkbox):before, .checkout input[type=radio]:before {
    content: "";
    height: 13px;
    position: absolute;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform .12s ease-in-out;
    transition: transform .12s ease-in-out;
    transition: transform .12s ease-in-out,-webkit-transform .12s ease-in-out;
    width: 13px;
}


/*
.checkout input[type=checkbox]:not(.toggle-checkbox), .checkout input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #8e8e8e;
    color: #000;
    cursor: pointer;
    flex: 0 0 auto;
    height: 15px;
    margin: 0;
    opacity: 1;
    pointer-events: all;
    position: relative;
    -webkit-transform: translateY(-.075em);
    transform: translateY(-.075em);
    width: 15px;
}
*/



.checkout * {
    box-sizing: border-box;
}






.checkout .checkout__body{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    transition: opacity .6s ease;
}

.checkout h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 5px 0 20px;
    padding: 0;
    text-transform: uppercase;
}

.checkout .button {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 11px;
    letter-spacing: .5px;
    margin: 10px auto;
    padding: 12px 14px;
}

.checkout input[type=checkbox]:not(.toggle-checkbox):checked {
    border-color: #000;
}

.checkout input[type=checkbox]:not(.toggle-checkbox):after {
    box-shadow: inset 13px 13px #fff;
    -webkit-clip-path: polygon(20% 51%,41% 70%,83% 31%,75% 22%,41% 54%,28% 42%);
    clip-path: polygon(20% 51%,41% 70%,83% 31%,75% 22%,41% 54%,28% 42%);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}



.checkout input[type=checkbox]:not(.toggle-checkbox):after, .checkout input[type=checkbox]:not(.toggle-checkbox):before, .checkout input[type=radio]:before {
    content: "";
    height: 14px;
    position: absolute;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform .12s ease-in-out;
    transition: transform .12s ease-in-out;
    transition: transform .12s ease-in-out,-webkit-transform .12s ease-in-out;
    width: 14px;
}



@media only screen and (min-width: 601px) {
    .checkout .checkout__cart-summary {
        padding-top: 35px;
    }
}

@media only screen and (min-width: 601px) {
    .checkout:not(.empty) {
        display: grid;
        grid-template-columns: 66% 34%;
        grid-template-rows: auto;
    }
}


@media only screen and (min-width: 601px) {
    .checkout:not(.empty) {
        display: grid;
        grid-template-columns: 66% 34%;
        grid-template-rows: auto;
    }
}

@media only screen and (min-width: 601px) {
    .checkout .checkout__body {
        padding-bottom: 20px;
    }
}

.sprite-line-icons use {
    fill-rule: evenodd;
    fill: none;
    stroke: #2a2a2a;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/********************** TAG *********************/


.tag.product-tag {
    color: #fff;
    display: block;
    font-size: 10px;
    font-weight: 700;
    margin-right: 1px;
    padding: 3px 8px;
    text-transform: uppercase;
}

.tag.product-tag.product-tag--bestprice, .tag.product-tag.product-tag--crazydays, .tag.product-tag.product-tag--offer, .tag.product-tag.product-tag--outlet, .tag.product-tag.product-tag--pre-order, .tag.product-tag.product-tag--sales {
    background-color: #d6001c;
}

.tag.product-tag.product-tag--old {
    color: #fff;
}

/*************** CART SUMMARY *****************/


.cart-summary .cart-summary__content .cart-summary__content-body{
    padding: 15px;
}

.cart-summary .cart-summary__content .cart-summary__totals {
    margin: 18px 0;
}

.cart-summary .cart-summary__content .cart-summary__content-header {
    align-items: center;
    background-color: #e9e9e9;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 12px 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: all .4s ease;
    z-index: 3;
}


.cart-summary .hide-details{
    gap: 7px;
}

.cart-summary .cart-summary__content .cart-summary__totals .totals__item.totals__item--total{
    border-top: 1px solid #d3d3d3;
    margin-top: 10px;
    padding-top: 10px;
}

.cart-summary .cart-summary__content .cart-summary__totals .totals__item.totals__item--total .item__label {
    font-weight: 700;
    text-transform: uppercase;
}

.cart-summary .cart-summary__content .cart-summary__totals .totals__item.totals__item--total .item__price {
    font-size: 18px;
    font-weight: 700;
}

.cart-summary .cart-summary__content .cart-summary__motocoins {
    font-size: 16px;
    line-height: 1.3em;
    margin: 0 0 10px;
    padding: 10px 0;
}

.cart-summary .cart-summary__content .cart-summary__motocoins svg {
    top: 0;
}

.cart-summary .cart-summary__content .cart-summary__totals .totals__item .item__price{
    text-align: right;
}



.cart-summary .cart-summary__content .cart-summary__totals .totals__item {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}
.cart-summary .cart-summary__content {
    background: #fff;
    padding: 0;
    pointer-events: auto;
    width: 100%;
    z-index: 1;
}



@media only screen and (min-width: 601px) {
    .cart-summary .cart-summary__content .cart-summary__content-header {
        display: none;
    }
}


@media only screen and (min-width: 601px) {
    .cart-summary .cart-summary__content .cart-summary__content-header{
        display: none;
    }
}

/********************* cart mobile footer controls *****************************/



.cart-summary .cart-summary__footer{
    background-color: #e9e9e9;
    bottom: -100%;
    left: 0;
    padding: 12px 15px;
    position: fixed;
    right: 0;
    transition: all .4s ease;
    z-index: 2;
}
.cart-summary.collapsed .cart-summary__footer {
    bottom: 0;
}

.cart-summary .cart-summary__footer .cart-summary__amount{
    text-transform: uppercase;
}

.cart-summary .cart-summary__footer .cart-summary__total{
    display: block;
    font-size: 14px;
    font-weight: 700;
}

.cart-summary .cart-summary__footer .cart-summary__info{
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
}

.cart-summary .cart-summary__footer .cart-summary__amount strong{
    font-size: 18px;
    font-weight: 700;
}

.cart-summary .cart-summary__footer .cart-summary__old-amount {
    font-size: 14px;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
}

.cart-summary .hide-details, .cart-summary .show-details {
    align-items: center;
    display: inline-flex;
    font-size: 15px;
    gap: 3px;
    transition: all .4s ease;
}
.cart-summary.collapsed .cart-summary__footer {
    bottom: 0;
}

@media only screen and (min-width: 601px) {
    .cart-summary .cart-summary__footer {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .cart-summary.collapsed.show-shipping-time .cart-summary__footer {
        padding: 8px 15px 12px;
    }
}

@media only screen and (max-width: 600px) {
    .cart-summary.collapsed .cart-summary__footer {
        border-top: 1px solid #dcdcdc;
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .show-on-small-only {
        display: block !important;
    }
}

@media screen and (min-width: 601px) {
    .show-on-small-only {
        display: none !important;
    }
}

.actions-button{
    width: 100%;
}

@media only screen and (min-width: 601px) {
    .actions-button .steps__errors {
        padding: 0 15px;
    }
}
@media only screen and (min-width: 601px) {
    .actions-button .step__actions    {
        padding: 0 15px;
    }
}


.checkout .button {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 11px;
    letter-spacing: .5px;
    margin: 10px auto;
    padding: 12px 14px;
}

@media only screen and (min-width: 601px) {
    .actions-button .step__actions .button.actions__continue {
        flex: 1 1 auto;
        max-width: 380px;
    }
}
/*********************** promo code **********************/


.promo-code .promo-code__form
{
    display: flex;
    justify-content: stretch;
/*    max-width: 410px;*/
    width: 100%;
}

.promo-code .promo-code__form .promo-code__group:first-child {
    flex-grow: 1;
}

.promo-code .promo-code__form .promo-code__group button{
    align-items: center;
    display: flex;
    flex-shrink: 0;
    font-size: 10px;
    height: 45px;
    justify-content: center;
    margin: 0!important;
    padding: 12px;
}

/*************** /CART SUMMARY *****************/


/****** CART CONTENT *************/

.summary ul {
    list-style: none;
}

.summary ul li:first-child {
    padding-top: 5px;
}

.summary ul li{
    border-bottom: 1px solid #e4eaee;
    padding: 30px 0;
    position: relative;
}

.cart-product .cart-product__info .cart-product__price .tag-wrapper .tag.product-tag {
    display: inline-block;
    line-height: 1.2em;
    margin-bottom: 0;
    padding: 1px 5px;
    white-space: nowrap;
}

.cart-product .cart-product__info .cart-product__price {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 3px 0 0;
    text-transform: uppercase;
}

.cart-product .cart-product__info .cart-product__price .product-old-price.strike {
    font-size: 11px;
    opacity: .4;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
}

.cart-product.mtc-link {
    color: #000;
}

 .cart-product__wrapper {
    align-items: center;
    display: flex;
    gap: 10px;
    overflow: hidden;
    position: relative;
}

 .cart-product__tools {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    margin: 15px 0;
    position: relative;
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .cart-product__wrapper {
        display: block;
        margin: 0;
    }
}



.cart-product {
    display: flex;
    flex-grow: 1;
}

.cart-product>span {
    flex: 0 0 80px;
    font-size: 12px;
    height: auto;
    margin-right: 10px;
    text-transform: uppercase;
    width: 80px;
}

.cart-product>span img {
    display: block;
}

.cart-product .cart-product__info {
    flex-grow: 1;
    font-size: 13px;
    margin: 0;
}

.cart-product .cart-product__info .cart-product__name {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1em;
    margin: 0;
    text-transform: uppercase;
}

.cart-product .cart-product__info .cart-product__details {
    display: block;
    line-height: 1.2em;
    margin-top: 4px;
}

.cart-product .cart-product__info .cart-product__price {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 3px 0 0;
    text-transform: uppercase;
}



.cart-product__tools input[type=number] {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    height: 2.4rem;
    margin: 0;
    max-width: 75px;
    min-width: 75px;
    padding: 10px 30px 10px 10px;
    text-align: center;
}

.cart-product .cart-product__info {
    flex-grow: 1;
    font-size: 13px;
    margin: 0;
}


.cart-product__warning {
    background-color: #ffefce;
    color: #684700;
    display: inline-block;
    font-size: 9px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 4px;
    padding: 3px 5px;
    text-transform: uppercase;
}


/******* cart product tools ************************/

.cart-product__tools {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    margin: 15px 0;
    position: relative;
}
.cart-product__tools input[type=number] {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    height: 2.4rem;
    margin: 0;
    max-width: 75px;
    min-width: 75px;
    padding: 10px 30px 10px 10px;
    text-align: center;
}

.cart-product__tools .cart-product__quantity {
    display: inline-block;
    position: relative;
}

.cart-product__tools .cart-product__quantity .quantity-buttons {
    align-content: stretch;
    bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 1px;
    top: 1px;
}

.cart-product__tools .cart-product__quantity .quantity-buttons button {
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    height: 48%;
    justify-content: center;
    padding: 0 6px;
}

.cart-product__tools .cart-product__quantity .quantity-buttons {
    align-content: stretch;
    bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 1px;
    top: 1px;
}
.cart-product__tools .cart-product__remove {
    background-color: #f2f2f2;
    border-radius: 200px;
    color: #fff;
    font-size: 10px;
    height: 32px;
    margin: 0;
    padding: 0 30px 0 10px;
    position: absolute;
    right: -100px;
    text-transform: uppercase;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cart-product__tools .cart-product__remove span {
    display: none;
}


.cart-product__tools .cart-product__quantity .quantity-buttons button use {
    stroke-width: 1;
}
.cart-product__tools input[type=number] {
    border: 1px solid #dbdbdb!important;
}
.cart-product__tools input[type=number] {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    height: 2.4rem;
    margin: 0;
    max-width: 75px;
    min-width: 75px;
    padding: 10px 30px 10px 10px;
    text-align: center;
}

@media only screen and (min-width: 993px) {
    .cart-product__tools .cart-product__quantity {
        margin: 0 30px 0 auto !important;
    }
}


/***************** steps ****************/

.checkout .steps {
    margin: 0 auto;
    max-width: 500px;
}

@media only screen and (min-width: 601px) {
    .steps__content{
        padding: 15px;
    }
}



/************ vuetify adjustments ***********/

.v-select .v-field .v-field__input > input{
    border: 0;
}


.v-field--variant-filled.v-field--focused .v-field__overlay {
    opacity: 1;
}

.v-autocomplete--single:not(.v-autocomplete--selection-slot) .v-field--active input{
    border: 0;
    opacity: 1;
    transition: unset;
}

.checkout .v-field--variant-filled .v-field__overlay {
    background-color: white;
    border: 1px solid #ccc;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*
.checkout .v-field__field{
    border: 1px solid black;
}*/



/********************** shipping ****************************/
.click-and-collect {
    font-size: 14px;
    padding: 15px 0 5px;
}

.shipping-method__category .shipping-method__description {
    color: #666;
    font-size: 14px;
}

.address__info {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 7px 0;
}

.address__info .address__content .address__name{
    font-weight: 700;
}

.address__info .address__modify {
    flex: 0 0 auto;
    margin: 0!important;
}

.shipping-method__category .shipping-method__content .input__group.checkbox, .shipping-method__category .shipping-method__content .input__group.radio {
    align-items: flex-start;
    display: flex;
    gap: 5px;
    margin: 10px 0;
}

.click-and-collect__notice {
    color: #666;
    font-size: 12px;
    line-height: 1.25em;
    margin-top: 15px;
}

.click-and-collect__notice p{
    margin: 7px 0;
}

.click-and-collect__selected-store .input__group label {
    color: #000!important;
}

.shipping-method__category .shipping-method__content .input__group.checkbox, .shipping-method__category .shipping-method__content .input__group.radio {
    align-items: flex-start;
    display: flex;
    gap: 5px;
    margin: 10px 0;
}

.click-and-collect__options .disabled {
    opacity: .5;
    pointer-events: none;
}


/******************************** billing form ****************************/

.payment__billing-form h3, .payment__billing-form p, .payment__billing-info h3, .payment__billing-info p {
    margin: 5px 0 10px;
}
.payment__billing-form, .payment__billing-info {
    padding: 10px 15px 20px;
    z-index: 1;
    position: relative;
}



.payment__billing-form .billing-form__content{
    height: auto;
    opacity: 1;
    visibility: visible;

}

.payment__billing-form:not(.collapsed) .payment__overlay {
    background-color: hsla(0,0%,100%,.8);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 1;
    pointer-events: auto;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: all .4s ease-in;
    z-index: -1;
}

.payment__payment-methods i.mdi.v-icon.notranslate.v-theme--light.v-icon--size-default {
    display: none;
}


.checkout__acceptance a, .checkout__acceptance a:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.checkout__acceptance .input__group.checkbox label {
    font-size: 13px;
}

.input__group input[type=checkbox]~label, .input__group input[type=radio]~label {
    cursor: pointer;
    position: relative;
    width: 100%;
}

.checkout__acceptance {
    font-size: 14px;
    line-height: 1.2em;
    padding: 20px 15px 15px;
}

.checkout__acceptance a, .checkout__acceptance a:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
    display: inline;
}



/*** vuetify corrections **/

.v-select .v-select__selection:first-child {
    margin-inline-start: 0;
    font-size: 0.8rem;
}

.v-list-item-title{
    font-size: 0.8rem !important;
    font-weight: 700 !important;
}

.v-list-item-subtitle{
    font-size: 0.7rem !important;
}

.v-list-item--density-default.v-list-item--one-line{
    min-height: 42px;
}

.v-select .v-field .v-field__input > input{
    top: -2px;
    left: 6px;
}
.v-selection-control__input:hover::before {
    opacity: 0;
}

.checkout .v-input--density-default .v-field--variant-solo .v-label.v-field-label--floating, .v-input--density-default .v-field--variant-solo-inverted .v-label.v-field-label--floating, .v-input--density-default .v-field--variant-filled .v-label.v-field-label--floating, .v-input--density-default .v-field--variant-solo-filled .v-label.v-field-label--floating {
    top: 2px;
}


.checkout .v-input--error .v-input__details {
    display: block;
}
.checkout .v-input__details {
    display: none;
}

.checkout  .v-selection-control__input > .v-icon {

    display: none;
}



/************************* empty **********************/
.checkout .checkout__empty .checkout__empty-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    justify-content: center;
    text-align: center;
}



/************************ SPINNER **********************/

.mc-spinner {
    width: 22px;
    height: 22px;
    border: 3px solid #dfdfdf;
    border-top-color: #c74044;
    border-radius: 50%;
    animation: b .6s cubic-bezier(.61, .06, .55, .75) infinite
}

.mc-spinner.small {
    width: 18px;
    height: 18px
}

.mc-spinner.medium {
    width: 32px;
    height: 32px;
    border-width: 4px
}

.mc-spinner.large {
    width: 40px;
    height: 40px;
    border-width: 5px
}

.mc-spinner.x-center {
    margin: 0 auto
}

.mc-spinner.xy-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -11px;
    margin-left: -11px
}

.mc-spinner.y-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.mc-spinner.destination-spinner {
    margin-top: .3rem;
    margin-bottom: 1.4rem
}

.has-xy-spinner {
    position: relative
}

@keyframes b {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(1turn)
    }
}

.overlay-spinner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 100%, .85);
    z-index: 9999
}

.overlay-spinner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.overlay-spinner-content p {
    text-align: center;
    text-transform: uppercase;
    color: #484848
}

.overlay-spinner-content p button {
    font-size: .9rem;
    text-transform: none
}

.overlay-spinner-content p button:hover {
    color: #c74044
}
