

/*

.mobile .mtc-link p {
  display: block;
  font-size: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 5px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

*/
