body {
    background-color: #000;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0) 400px) center/auto repeat-x, linear-gradient(to top, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0) 400px) center/auto repeat-x,
    url("https://www.motomundi.cl/Templates/MotoMundiDesktop/content/images/body_bg.jpg");
    font-family: Verb;
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 40px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, blockquote, q, th, td, caption, table, body, div, span, object, iframe, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, tbody, tfoot, thead, tr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

.main-content {
    width: 90%;
    min-width: 800px;
    max-width: 1300px;
    margin: auto;
    background-color: white;
}

/* header menu */

#headermenu {
    width: 100%;
    height: 50px;
    top: 0;
    background: #262626;
    height: 37px;
    border-bottom: 1px solid #000;
    font-size: 12px;
    color: #d9d9d9;
}

#headermenu a {
    color: white;
}

#headermenu .headermenucontent {
    max-width: 1300px;
    margin: 0 auto;
    width: 90%;
}

#headermenu .headermenucontent .hmnuentry:first-child {
    border-left: 0;
}

#headermenu .headermenucontent .hmnuentry {
    float: left;
    border-color: #010101 #010101 #4f4f4f #4f4f4f;
    border-style: solid;
    border-width: 0 1px;
    margin-top: 0;
    font-weight: 400;
    padding: 8px;
    padding-top: 10px;
    height: 18px;
    box-sizing: content-box;
    display: inline-block;
}


/* header where is logo */

#newheaderbar {
    width: 90%;
    min-width: 800px;
    max-width: 1300px;
    margin: auto;
    margin-top: 12px;
}

.newheader {
    height: 100px;
}



.header_logo {
    width: 400px;
    top: 102px;
    margin: 0 auto;
    float: left;
}

.header_search {
    margin-top: 9px;
    height: 36px;
    padding: 10px;
    border: 3px solid red;
    box-sizing: content-box;
    position: relative;
    right: 10px;
    float: right;
    background: url(https://www.motomundi.cl/Views/MotoMundiDesktop/content/images/newheader/topmenubg.png);
    border: 1px solid #000;
    -moz-border-radius: 10px/10px;
    -webkit-border-radius: 10px 10px;
    border-radius: 10px/10px;
}

#searchbtn {
    position: relative;
    top: 4px;
    padding: 6px;
}


/*
.live-search-wrapper {
    height: 800px;
    position: absolute;
    top: 96px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    width: 60%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, .35);
}

.live-search-wrapper {
    height: 600px;
    position: absolute;
    top: 115px;
    transform: translateX(-50%);
    z-index: 99999;
    width: 850px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, .35);
}
*/

#master-search-input {
/*    display: inline;*/
    border: 1px solid gray;
    width: 365px;
    border-radius: 3px;
/*    padding: 4px;*/
    margin-right: 2px;
    background-color: #eee;
   /* margin-top: 6px;*/
    margin-top: -5px;
}




.block-container.seo-footer {
    background-color: #222222;
    color: #a3a3a3;
}

.block-container.seo-footer .footer-nav .mtc-link {
    color: #a3a3a3;
}

.block-container.seo-footer .container {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding: 40px 0;
    width: 93%;
}

.block-container.seo-footer .container li > a {
    padding: 0;
    padding-bottom: 4px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-lang__block .footer-lang__block-content {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.footer-description nav ul .mtc-link, .footer-description nav ul a, .footer-description nav ul span {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: center;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

.footer-nav li > a {
    padding: 0;
    padding-bottom: 4px;
}

footer {
    /*background-color: #f5f5f5;*/
    background-color: #222222;
    color: #a3a3a3;
    padding: 50px 10px;
}

footer.footer .mtc-link {
    color: #a3a3a3;
}

.footer-lang__block svg use {
    stroke: #a3a3a3;
}

.lang-currency svg g {
    stroke: white;
    fill: #a3a3a3;
}


footer.footer nav li > a {
    padding: 0;
}

.footer-lang__block select.lang-selector {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    margin: 0 0 0 -15px;
    padding: 0 25px;
    position: relative;
    text-transform: none;
    color: #a3a3a3;
}

.owl-nav.disabled+.owl-dots {
    display: none;
}

.footer-secondary__block:first-child li {
    display: inline;
    margin-right: 8px;
}

.legal-menu li {
    border-right: 1px solid #000;
    display: inline-block;
    margin-right: 8px;
    padding: 0 8px 0 0;
}

.legal-menu li a {
    font-size: 11px;
    line-height: 1.2;
    padding: 0;
    text-transform: none;
}

.legal-menu {
    font-size: 11px;
    line-height: 1.2;
}

footer.footer nav.footer-nav li > a {
    padding: 0;
    padding-bottom: 6px;
}

