.localization_form { padding:20px; }
.localization_form .localization_field { padding: 4px; margin:1px; }
.localization_form .localization_field label { display:inline-block; width:50px; margin-left:5px; }
.localization_form .localization_field select { display:inline-block; margin-right:20px; }
.localization_form .localization_field_button { float: right; }