.desktop-signin-modal .modal{
    padding: 15px;
    max-width: 350px;
}

.desktop-signin-modal .login-form-modal form {
    margin-bottom: 15px;
}

.desktop-signin-modal .login-btn {
    font-size: 15px;
    font-weight: bold;
}

.desktop-signin-modal h2{
    padding: 10px;
}

.desktop-signin-modal .or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.desktop-signin-modal .or-seperator i {
    padding: 0 10px;
    background: #FFFFFF;
    position: relative;
    top: -11px;
    z-index: 1;
}

.desktop-signin-modal .social-btn .btn {
    font-size: 15px;
    text-align: left;
    line-height: 24px;
}

.desktop-signin-modal .signin-btn .btn {
}

.desktop-signin-modal .social-btn .btn i {
    float: left;
    margin: 4px 15px 0 5px;
    min-width: 15px;
}

.desktop-signin-modal input[type=text], .desktop-signin-modal input[type=password] {
    width: 290px;
}

.desktop-signin-modal .input-group {
    margin-left: 13px;
}

.desktop-signin-modal .input-group-addon .fa {
    font-size: 18px;
}

.desktop-signin-modal .text-center {
    color: #c74044;
}

.desktop-signin-modal a#signinFacebook {
    color: white;
}

.desktop-signin-modal a#signinTwitter {
    color: white;
}

.desktop-signin-modal a#signinGoogle {
    color: white;

}

.desktop-signin-modal .btn-block {
    width: 90%;
    margin-left: 13px;
    margin-top: 5px;
}

.desktop-signin-modal .error-message label {
    color: #c74044;
    padding-left: 13px;
    font-style: normal;
    font-weight: normal;
}
